livekit-plugins-elevenlabs
livekit-plugins-openai
python-dotenv
flask
flask-cors
gunicorn
livekit-plugins-deepgram
livekit-agents
livekit-plugins-deepgram
livekit-plugins-silero
python-dotenv
python "backend.py"
python transcription_agent.py dev
pymongo
motor
#command for databse run : & "C:\Program Files\MongoDB\Server\8.2\bin\mongod.exe" --dbpath "c:\Users\preet\Downloads\live_kit\mongo_data"
