livekit-plugins-elevenlabs
livekit-plugins-openai
python-dotenv
flask
flask-cors
gunicorn
livekit-plugins-deepgram
livekit-agents
livekit-plugins-deepgram
livekit-plugins-silero
python-dotenv
